<h1>Entry adding</h1>

<form #form="ngForm" (submit)="onSubmit(form)">

  <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">

  <div>
    <input name="name" #name="ngModel" [(ngModel)]="service.formData.name" class="form-control" placeholder="Name" required>
  </div>

  <div *ngIf="name.invalid && name.touched" class="validation-error">
    Required!
  </div>

  <div>
    <input name="surname" #surname="ngModel" [(ngModel)]="service.formData.surname" class="form-control" placeholder="Surname">
  </div>

  <div>
    <input name="number" #number="ngModel" [(ngModel)]="service.formData.number" class="form-control" placeholder="Number">
  </div>

  <div>
    <input name="mail" #mail="ngModel" [(ngModel)]="service.formData.mail" class="form-control" placeholder="Mail">
  </div>

  <div>
    <button type="submit" [disabled]="form.invalid">Submit</button>
  </div>
  
</form>

